/** Custom ids for drivewaysurfing theme **/
  #Login,
  #Logout
  {
    float: right;
    margin: 10px 10px 5px 5px;
    width: 130px;
    font-size: 1.5em;
    font-weight: bold;    
    font-family: Tahoma, Geneva, Sans-serif;
    text-align: center;
  }
  
  #Login a,
  #Logout a
  {
    text-decoration: none;
    text-shadow: 1px -1px 10px #ffffff; 
    color: #000000;
    line-height: 1em;
  }
  
  #Login center,
  #Logout center
  {
    margin: 0 0 -15px 0;
  }

  .join-now-button {
    background-color: #D10303;
    color: white;
    font-family: Verdana,Geneva,Sans-serif;
    font-size: large;
    line-height: 2em;
    padding: 7px;
    width: 100px;
    border-radius: 5px;
    text-decoration: none;
  }

  .map-join-button {
    text-align: center;
  }

  .map-join-button .join-now-button {
    padding: 10px 70px;
  }

  .testimonial-quote,
  .testimonial-data .node-testimonial {
    font-family: Georgia, Times New Roman, Serif !important;
    font-size: large !important;
    padding: 10px 20px !important;
    margin: 10px 0 !important;
    border: 1px solid grey !important;
    background: white !important;
  }

  .testimonial-quote .quote-title {
    padding: 5px 40px !important;
    color: #d01030 !important;
  }

  .testimonial-quote .quote-text {
    padding: 0px 40px !important;
  }
  .testimonial-data .node-testimonial h2.node-title {
    padding: 10px 40px !important;
  }

  .testimonial-quote .quote-title,
  .testimonial-data .node-testimonial h2.node-title {
    background-image: url("/sites/boondockerswelcome.com/files/media/punctuation-marks-quotation-marks-red-left.png");
    background-repeat: no-repeat;
    background-size: 35px;
  }

  .testimonial-data .node-testimonial h2.node-title {
    pointer-events: none !important;
    cursor: default !important;
  }


  .testimonial-data .node-testimonial h2.node-title a:link,
  .testimonial-data .node-testimonial h2.node-title a:visited {
    text-decoration: none !important;
    color: #d01030 !important;
  }

  .testimonial-quote .quote-author,
  .testimonial-data .node-testimonial .content {
    padding: 10px 40px !important;
    margin: 0px 10px !important;
    background-image: url("/sites/boondockerswelcome.com/files/media/punctuation-marks-quotation-marks-red-right.png");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: right bottom;
  }

  .testimonial-quote .quote-author {
    text-align: right !important;
  }

  .testimonial-data .node-testimonial .content p {
    font-family: Georgia, Times New Roman, Serif !important;
    font-size: large !important;
  }  
  
  .testimonial-data .node-testimonial .submitted {
    padding: 0px 40px !important;
    font-style: italic !important;
  }

  #testimonial-footer {
    font-family: Georgia, Times New Roman, Serif !important;
    font-size: larger !important;
    padding: 10px 20px !important;
    margin: 10px 0 !important;
    border: 1px solid grey !important;
    background: white !important;
    padding: 20px !important;
    text-align: center !important;
  }

  #as-seen-in {
    padding: 0px;
  }
 
  #as-seen-in .pane-content {
    text-align: center;
  }

  #as-seen-in .pane-content br {
    margin: 8px 0px;
  }

  .product-sale-text {
    font-size: large;
    font-variant: small-caps;
    text-align: center;
  }

  .mainBottom {
  }

  .mainBottom p {
    background: none repeat scroll 0 0 #D10303;
    color: white;
    font-family: Georgia !important;
    font-size: large !important;
    font-variant: small-caps;
    padding: 25px;
    text-align: center;
  }

  .mainBottom a,
  .mainBottom a:visited {
    color: white;
    padding: 3px;
  }

  .tour-button {
    background-color: blue;
    color: white;
    font-family: Verdana,Geneva,Sans-serif;
    font-size: large;
    line-height: 2em;
    padding: 10px 90px;
    border-radius: 5px;
    text-decoration: none;
  }

  .view-bda-details-d7 {
    border: 1.83333px groove  #f0f0f0;
    margin-left: 3px;
    margin-right: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
  }

  #HomeMainHeadline {
    font-family: Verdana,Geneva,Sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding: 3px 0;
  }
  #HomeSubHeadline {
    font-family: Verdana,Geneva,Sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 2px 0;
  }
  #HomeMainText {
    font-family: Verdana,Geneva,Sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 3px 0 15px;
  }

  .loc-error {
    padding: 10px 0;
    color: #cc0000;
  }
